/*
-----------------------------------------
Footer Section Styling
-----------------------------------------
*/
.footer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
}

.footer-logo {
    width: 45px;
}

.footer-name {
   position: relative;
   bottom: 1%;
   color: white;
}

.social-media-links a {
    padding-left: 10px;
    justify-content: space-between;
    width: 80px;
    color: #6532E6;
}

.social-media-links a:hover {
    color: white;
    transition: 0.4s ease-in-out;
}

/* 
-----------------------------------------
Media Queries
-----------------------------------------
*/
@media (max-width: 600px) {
    .footer-name {
        font-size: 12px;
     }

    .footer-logo {
      width: 70px;
      position: absolute;
      right: 5%;
      padding-bottom: 10px;
    }

    .social-media-links a {
        display: none;

    }
}
