/* 
-----------------------------------------
NavBar Styling
-----------------------------------------
*/
/* font family and font color for the main logo in nav bar */
.logo img{
  width: 50px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // positioning styling to make nav bar fixed to top and span the entire width of window 
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  //color of background navbar 
  background-color: #333546;
}

// makes nav links spread out to make horizontal nav 
nav ul {
  display: flex;
}

// Navbar links styling 
nav ul li a {
  font-family: calibri;
  height: 40px;
  line-height: 40px;
  margin: 3px;
  //Spacing for the NavBar links 
  padding: 0px 50px;
  display: flex;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: 0.4s ease-in-out;
  position: relative;
}

nav ul li a:hover {
  color: #6532E6;
}

nav ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #6532E6;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0px;
}

nav ul li a:hover:after {
  width: 100%; 
  left: 0; 
}

nav .menu-btn, .menu-icon {
  display: none;
}

/* 
-----------------------------------------
Media Queries
-----------------------------------------
*/
@media(max-width: 980px) {
  /* Navbar.js */
  .menu-icon {
    display: block;
  }

  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #333546;
    border-bottom: 2px solid #6532E6;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  
  .menu li {
    width: 100%;
  }

  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid #252734;
  }

  /* The starting build of the nav hamburger menu icon */
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  nav .menu-icon .nav-icon {
    background-color: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  nav .menu-icon .nav-icon:before, 
  nav .menu-icon .nav-icon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }

  /* creates and outputs the middle line of the hamburger menu icon */
  nav .menu-icon .nav-icon:before {
    top: 5px;
  }

  /* creates and outputs the bottom line of the hamburger menu icon */
  nav .menu-icon .nav-icon:after {
    top: -5px;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  /* transition animation for when the hamburger menu is clicked */
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }

  nav .menu-btn {
    display: none;
  }

  nav .menu-btn:checked ~ .menu {
    display: block;
  }
}

@media (max-width: 950px) {
  .logo img{
    width: 40px;
    margin-left: 10px;
  }
}

@media (max-width: 500px) {
  nav .menu-icon {
    position: fixed;
    right: 20%;
  }
}