/* import google fonts (Montserat)*/ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
/* import google fonts (biorhyme)*/ 
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@700&display=swap');

/*
-----------------------------------------
General Page Styling
-----------------------------------------
*/
/*body font*/
body {
    margin: 0;
    padding: 0;
    /* Main background color*/
    background-color: #000266;
    font-family: 'Montserrat', 'BioRhyme', calibri;
}

/* used to select all elements*/
* {
  /* used to make sure to include padding and border within overall styles to create consistency in box sizing*/
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  border: none;
}

/* 
-----------------------------------------
NavBar Styling
-----------------------------------------
*/
/* font family and font color for the main logo in nav bar */
.logo {
  font-family: 'BioRhyme';
  text-transform: uppercase;
  color: #242424;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* css styling to cast shadow effect under the navbar */
  box-shadow: 5px 10px 30px rgba(0,0,0,0.4);
  /* positioning styling to make nav bar fixed to top and span the entire width of window */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  /* color of background navbar */
  background-color: #ffffff;
}

/* makes nav links spread out to make horizontal nav */
nav ul {
  display: flex;
}

/* Navbar links styling */
nav ul li a {
  font-family: calibri;
  height: 40px;
  line-height: 40px;
  margin: 3px;
  /* Spacing for the NavBar links */
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #242424;
  letter-spacing: 1px;
  border-radius: 2px;
  transition: 0.4s ease-in-out;
}

/* hover styling effects for NavBar links */
nav ul li a:hover {
  background-color: #000266;
  color: #ffffff;
  /* shadow effect when mouse hovers over navbar links */
  box-shadow: 5px 10px 30px rgba(64, 88, 198, 0.4);
}

/* hides check button and icon in the NavBar.kjs file */
nav .menu-btn, .menu-icon {
  display: none;
}

/* styling for button on farther right of Navbar --> "Henlo" */
.Hey {
  font-family: calibri;
  color: #000266;
  font-weight: 500;
  font-size: 0.9rem;
  border-bottom: 2px solid #000266;
}

/* 
-----------------------------------------
Header Section Styling
-----------------------------------------
*/
/* classname corresponding to styling nav in header.js file*/
.main {
  width: 100%;
  height: 768px;
  position: relative;
  background: no-repeat;
  background-size: cover;
  /* 
  //supposed to be the background image for the main landing page
  background-image: url("./images/header-bg.png");
  */
}

/* Styling for header blocks of text */
.name {
  font-family: 'Montserrat';
  width: 600px;
  /* positioning styling */
  position: absolute;
  left: 16%;
  top: 50%;
  transform: translate(-20%, -50%);
}

/* Header Name Styling Effect */
.name span {
  color: #d0ff00;
  border-bottom: 2px solid #d0ff00;
}

.name h1 {
  font-family: 'Montserrat';
  font-size: 46px;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 3px;
  color: #ffffff;
}

/* Header bio text styling/color */
.name .details {
  color: #c7c7c7;
}

.name .heading {
  color: #c7c7c7;
}

/* Header button for Linkedin/Resume */
.header-btns {
  display: flex;
  margin-top: 40px;
}

.btn-1 {
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0ff00;
  box-shadow: 5px 10px 30px rgba(255, 251, 2, 0.2);
  border-radius: 10px;
  color: #000266;
}

.btn-2 {
  font-size: 14px;
  width: 175px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid #ffffff;
  margin-left: 20px;
  border-radius: 10px;
  color: #ffffff;
}

.btn-1:hover {
  background-color: #ffffff;
  transition: all ease 0.4s;
  color: #000266;
}

.btn-2:hover {
  background-color: #ffffff;
  transition: all ease 0.4s;
  color: #000266;
}

/* CSS Arrow pointing to bottom of screen */
.arrow {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
  bottom: 0px;
  left: -3%;
  border-right: 2px solid #d0ff00;
  animation: arrow-animation ease 1.5s;
}

.arrow::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 11px 0px 11px;
  border-color: #d0ff00 transparent transparent transparent;
  right: -0.7em;
  bottom: -2px;
}

@keyframes arrow-animation {
  0% {
    bottom: 70px;
    opacity: 0.2;
  }
  100% {
    bottom: 5px;
    opacity: 1;
  }
}

/* 
-----------------------------------------
About Section Styling
-----------------------------------------
*/
.about {
  width:100%;
  height: 100vh;
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0px 5%;
  position: relative;
}

.about-text {
  width: 50%;
}

.about-text h2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: #000266;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.about-text p {
  font-size: 1.2rem;
  color: #797979;
}

.about-text span {
  color: #000266;
  text-transform: uppercase;
}

.about-text button { 
  width: 140px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #000266;
}

/* Hover animation for about section button*/
.about-text button:hover {
  background-color: #d0ff00;
  transition: all ease 0.3s;
  color: #000266;
}

.about-model img {
  height: 500px;
}

/* 
-----------------------------------------
Services Section Styling
-----------------------------------------
*/

.services {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  font-family: calibri;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.service-heading h1 {
  color: #ffffff;
  font-size: 3rem;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

.service-heading p {
  color: rgba(247, 247, 247, 0.678);
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
}

.service-heading {
  text-align: center;
  margin: 20px 0px;
}

.service-box {
  background-color: #ffffff;
  width: 350px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
  position: relative;
}

.b-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

service-box-img {
  width: 100%;
  height: 70%;
}

.service-box-img img {
  width: 100%;
  height: 100%;
}

.service-box-text a{
  margin: 0px;
  color: #000266a6;
  font-size: 1.1rem;
  font-family: calibri;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.service-box-text a:hover {
  color: #000266;
}

.service-type {
  font-family: calibri;
  color: #ffffff;
  background-color: #151515;
  padding: 10px 15px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}

.service-box:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;

}

/* 
-----------------------------------------
Contact Section Styling
-----------------------------------------
*/
.contact {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;
  margin: 10px 0px;
  margin-top: 80px;
  padding: 30px 0px;
}

.contact h3 {
  font-size: 2.5rem;
  margin: 20px;
  text-transform: uppercase;
}

/* Contact Form Button */
.contact-input {
  width: 400px;
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}

/* Input for the contact section */
.contact-input input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  text-align: center;
  color: #242425;
}

.contact-input a {
  width: 200px;
  height: 35px;
  background-color: #1db096;
  color: #ffffff;
  display: flex;
  font-size: 0.9rem;
  justify-content: center;
  align-items: center;
  margin: auto 10px;
  border-radius: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

/* 
-----------------------------------------
Media Queries
-----------------------------------------
*/
@media(max-width: 1190px) {

  /* Header.js */
  .main {
    background-size: 1150px !important;
  }
  
  .name {
    left: 10%;
    top: 50%;
    transform: translate(-10%, -50%);
  }

  /* About.js */
  .about-model img{
    height: 400px;
  }

  /* Services.js */
  .service {
    height: auto;
  }

  .b-container {
    flex-wrap: wrap;
  }

  /* Cards.js */
  .service-box {
    flex-grow: 1;
  }

  .service-box-img img {
    object-fit: cover;
  }
}

@media(max-width: 970px) {
  /* Header.js */
  .main {
    background-image: none !important;
  }

  .name {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  /* About.js */
  .about-model {
    display: none;
  }

  .about {
    justify-content: center;
    /* moves the about heading text and shifts up to dissapear */
    padding-top: 0px;
  }

  .about-text {
    width: 90%;
  }

  .about-text h1 {
    font-size: 4rem;
  }
}

@media(max-width: 600px) {
  /* Header.js */
  .name {
    width: 60%;
  }
  /*
  .scroll {
    left: 42.5%;
  }
  */
}

@media(max-width: 1100px) {
  /* Navbar.js */
  .menu-icon {
    display: block;
  }

  nav {
    justify-content: space-between;
    height: 65px;
    padding: 0px 30px;
  }

  .logo img {
    width: 70px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 65px;
    left: 0px;
    background-color: #ffffff;
    border-bottom: 4px solid #1db096;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .menu li {
    width: 100%;
  }

  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(38,38,38,0.03);
  }

  /* The starting build of the nav hamburger menu icon */
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  nav .menu-icon .nav-icon {
    background-color: #333333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }

  nav .menu-icon .nav-icon:before, 
  nav .menu-icon .nav-icon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }

  /* creates and outputs the middle line of the hamburger menu icon */
  nav .menu-icon .nav-icon:before {
    top: 5px;
  }

  /* creates and outputs the bottom line of the hamburger menu icon */
  nav .menu-icon .nav-icon:after {
    top: -5px;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }

  /* transition animation for when the hamburger menu is clicked */
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }

  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }

  nav .menu-btn {
    display: none;
  }

  nav .menu-btn:checked ~ .menu {
    display: block;
  }
}

@media(max-width:400px) {
  /* Cards.js */
  .service-box {
    width: 100%;
    height: 400px;
  }
}

